[Unit]
Description=rsyslog container
Requires=docker.service
After=docker.service

[Service]
TimeoutStartSec=0
Restart=always
RestartSec=10s
ExecStartPre=-/bin/docker stop rsyslog
ExecStartPre=-/bin/docker rm rsyslog
ExecStartPre=-/bin/docker pull thalarion/rsyslog
ExecStart=/data/rsyslog/run.sh

[Install]
WantedBy=multi-user.target

[X-Fleet]
MachineID=8e6431c045c04771868d64643ff133c8
